# Data Types

## Integer or Int

A whole number, or zero.

In [ ]:
-3
-2
-1
0
1
2
3

## Float

A decimal number.

In [ ]:
3.14
2.71828
-1.61803

## String

A collection of one or more characters under a single or double quote.

'Robert'
'Lewis'
'Python'
'50'

Strings can also span multiple lines with a triple quote

In [2]:
'''
All of the characters in here
are strings
1031
'''

'\nAll of the characters in here\nare strings\n1031\n'

## Booleans

Similar to 1's and 0's, Booleans can only be one of two values: `True` or `False`

In [3]:
    True  #  1 in computer language
    False # 0 in computer language

False

## List
An ordered collection which allows to store different data type items.

In [ ]:
[0, 1, 2, 3, 4, 5] # all are the same data types - a list of numbers
['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data type - a list of strings
['Banana', 10, False, 9.81] # different data types in the list - string, int, boolean, float

## Dictionary or Dict
An unordered collection of data in a key value pair format.

In [ ]:
{
  'first_name': 'Robert',
  'last_name': 'Lewis',
  'country': 'United States',
  'age': 250,
  'is_married': False,
  'skills': ['Python', 'R']
}

## Tuple

An ordered collection of different data types, like a list, but tuples cannot be modified once they are created. They are immutable.

In [ ]:
('Asabeneh', 'Pawl', 'Brook', 'Abraham', 'Lidiya') # Names

## Set

A collection of data types, similar to a list and a tuple, but unlike the two is an unordered collection of items. Like in Mathematics, set in Python only stores unique items

In [ ]:
{2, 4, 3, 5}
{3.14, 9.81, 2.7} # order is not important in set


## Checking Data Types

In [1]:

print(type(10))          # Int
print(type(3.14))        # Float
print(type(1 + 3j))      # Complex number
print(type('Asabeneh'))  # String
print(type([1, 2, 3]))   # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>